
/* header */
header{
    background-color: lightblue;
    text-align: right;
    padding: 30px;
    margin: -10px -10px 0 -10px;
}

header> a{
    text-decoration: none;
    padding:20px;
    border-radius: 50px;
}

header span>a{
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;

}

header>a:hover{
    background-color: green;
}

header span>a:hover{
    background-color: green;
}

/* header */



/* body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    margin-right: 0;
    margin-left: 0;
}



body main div#back>a{
    background-color: orange;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    margin-left: 1200px;
}

body main div#back>a:hover{
    background-color: red;
}

/* divdetail */
body main div#detail{
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 250px;
}

body main div#detail h1{
    padding-top: 50px;
    padding-bottom: 20px;
}

body main div#back{
    margin-left: 70px;
}

body main table tr td>table tr:nth-child(1) td span a{
    padding: 20px;
    border-radius: 20px;
    background-color: darkblue;
    color:bisque;
    text-decoration: none;

}

body main table tr td>table tr:nth-child(1) td span a:hover{
    background-color: red;
}

body main div#detail{
    box-shadow: 10px 20px 36px 1px silver;
    border-radius: 50px;
}

body main div#desk{
    padding-left: 100px;
}

body main div#detail h1{
    text-align: center;
}


body main div#detail>table:nth-child(2){
    padding-left: 100px;
    
}

body main div#detail>table:nth-child(4){
    padding-left: 100px;
    padding-bottom: 100px;
}


/* div detail */

/* body */



/* footer */
footer{
    text-align: center;
    letter-spacing: 15px;
    background-color: whitesmoke;
    padding: 10px;
    padding-bottom: 20;
}


/* footer */