body{
    background-color: whitesmoke;
}

#hyperlink{
    border: 1px solid lightblue;
    border-color: lightblue;
    background-color: lightblue;
    padding: 10px;
    text-align: right;
    margin:-10px -10px 0px -10px;
}

#hyperlink a{
    text-decoration: none;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

header h1{
    text-align: left;
}

#navbar{
    border: 1px solid rgb(118, 193, 218);
    background-color: rgb(118, 193, 218);
    margin:0px -10px 0px -10px;
}
#tab td{
    padding: 10px;
}

#navbar img{
    width: 300px;
    height: 40px;
}

.container {
    box-sizing: border-box;
    border: 3px solid whitesmoke;
    background-color: white;
    box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    width: 250px;
    height: auto;
    font-size: 15px;
    color: black;
  }
.container, a{
    text-decoration: none;
  }


#gambar{
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 130px;
    margin: -13px -12.5px;
    /* height: 100%; */
}
  
#list td{
    padding: 10px;
}

main #gen{
    margin: 0px -10px -20px 0px;
}


footer div#rincianfooter div#footerdata{
    margin-left: 16%;   
   
   }
   
   
   footer div#rincianfooter div#footerdata table tr td{
       padding-left:50px;  
       padding-right: 50px; 
       padding-bottom: 20px;
   }
   
   
   
   
   footer div#rincianfooter ul{
       list-style: none;
       
   
   }
   
   footer div#rincianfooter ul li:first-child{
       padding-bottom: 25px;
       font-weight: bold;
   }
   
   footer div#rincianfooter{
       background-color: lightblue;
       margin-right: -15px;
       
   }
   
   
   
   
   footer div#rincianfooter>table{
       margin-left: 35%;
       
       
   }
   
   footer div#rincianfooter>table tr td{
       padding-left: 40px;
       padding-bottom: 15px;
       text-align: center;
   
   }
   
   
   footer div#rincianfooter>table tr td i{
       color:black;
       font-size: 20px;
   }
   
   footer div#rincianfooter>table tr td a:hover i{
       color:white;
   }
   
   
   footer div#nav{
       background-color:rgb(96, 151, 170);
       padding:0.1px;
       text-align: center;
       padding-top: 20px;
       margin-right: -15px;
   }
   
   
   footer div#nav nav a{
       color:black;
       text-decoration: none;
       padding:5px;
   }
   
   footer div#nav nav a:hover{
       color:whitesmoke;
       
   }
   
   /* footer */
   footer>p{
       text-align: center;
       letter-spacing: 15px;
       font-size: 12px;
       background-color:rgb(96, 151, 170);
       padding-bottom: 20px;
       padding-top: 20px;
       margin:0;
       margin-bottom: -15px;
       margin-right: -15px;
       font-weight: bold;
   }